@import "vars";
@import "global";
@import "fonts";
@mixin size {
    height: 20px;
    width: 20px;
}

;
.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    .modal_window {
        padding-bottom: 18px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        .title {
            position: relative;
            height: 100px;
            background-color: #0158a5;
            display: flex;
            align-items: center;
            color: white;
            font-size: 30px;
            padding: 0 20px;
            justify-content: space-between;
            .aboutweather {
                display: flex;
                .weather__blok {
                    height: 100%;
                    width: 55px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    .icon {
                        width: 100%;
                        height: 77%;
                        display: block;
                    }
                    .inform {
                        font-size: 16px;
                    }
                }
            }
        }
        .addTask {
            padding: 0 40px;
            button {
                @include size();
                margin-right: 20px;
            }
            input[type=text] {
                width: 30%;
                height: 100%;
                font-size: 22px;
                &::placeholder {
                    color: #0158a5;
                }
            }
        }
        ul {
            list-style: none;
            padding: 0 40px;
            margin: 20px 0;
            li {
                margin: 20px 0;
                border-bottom: 2px solid grey;
                padding-bottom: 9px;
                font-size: 22px;
                input[type=checkbox] {
                    margin-right: 20px;
                    @include size()
                }
                ;
                button {
                    background-color: transparent;
                    @include size();
                    float: right;
                    background-image: url(../images/icons/close1.svg);
                    background-size: cover;
                }
            }
        }
    }
}